// Colores
$primario: #0067c7;
$secundario: #C70B00;
$terciario: #C700A2;

$transparente: rgba(0, 0, 0, 0);
$blanco: #fff;
$negro: #000;

// Fuentes
$fuenteEstandar: 1rem;
$fuente-xl: $fuenteEstandar * 4;